
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppons', sans-serif;
}

.container1 {
    width: 100%;
    height: 100vh;
    background: #001660;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: rgb(41, 32, 32);
    font-weight: 800;
    margin-bottom: 20px;
}
form input , form textarea{
    border: 0;
    margin: 10px;
    padding: 15px;
    outline: none;
    background: #f5f5ff;
    font-size: 16px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
  }
 
.footer{
   
    height: 200px;
}

.footer-links{
    color: rgb(216, 216, 216);
    font-weight: 600;
    font-size: 18px;
}

.footer-links>a{
    text-decoration: none;
    color: inherit;
}

.footer-links>a:hover, .footer-links>a:active{
    color: rgb(161, 161, 161);
}

@media only screen and (max-width: 630px) {
    .row-1{
        flex-direction: column;
    }
    .row-1>div{
        margin-right: 10px;
        margin-left: 10px;
        width: auto !important;
    }

    .row-2>button{
         padding: 10px 30px !important;
         margin: 10px;
    }

    .footer{
        width: 104%;
        height: auto;
    }

    .footer-links{
        flex-direction: column;
    }
  }
  .footer p{
    color: #fff;
}