.home-page-counter{
    margin-top: 10%;
   text-align: center;
}

.footer{
    height: 200px;
}

.footer-links{
    color: rgb(216, 216, 216);
    font-weight: 600;
    font-size: 18px;
}

.footer-links>a{
    text-decoration: none;
    color: inherit;
}

.footer-links>a:hover, .footer-links>a:active{
    color: rgb(161, 161, 161);
}

@media only screen and (max-width: 630px) {
    .row-1{
        flex-direction: column;
    }
    .row-1>div{
        margin-right: 10px;
        margin-left: 10px;
        width: auto !important;
    }

    .row-2>button{
         padding: 10px 30px !important;
         margin: 10px;
    }

    .footer{
        width: 104%;
        height: auto;
    }

    .footer-links{
        flex-direction: column;
    }
  }

@media only screen and (max-width: 950px) {
    .row-2>button{
         padding: 10px 50px !important;
         margin: 30px;
    }
  }