
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* custom css*/
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

input[type=number] ::-webkit-inner-spin-button,
input[type=number] ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    background-color: var(--bg-whit);
    padding: 0px;
    
    overflow: scroll;
   
    
}



/*  .....  */
:root {
    /* bg color*/
    --primary-color: #0048ff;
    --primary2-color: #ffffff;
    --secondary-color:#060117;
    --bg-dark-blue:#030c21;
    --bg-whit:#fff;
    --th3-color:#e8eaf6bf;
    --gr1-color:linear-gradient(to top left, #ff3399 0%, #3366ff 100%);
    --gr2-text:linear-gradient(to top left, #ff3399 0%, #3366ff 100%);

    /*text */
    --primary-font:'Poppin',sans-serif;
    --primary-text: #FD4766;
    --text-gr1:#d3d9f5bf;
    --text-white:#fff;
    --text-black:rgb(0, 0, 0);
    
}

/* custom css*/
/*  .....  */


.left_section{
    width: auto;
    height: 800px; 
   
    line-height: 3em; 
    overflow:scroll; 
    border: thin var(--secondary-color); 
    
    background-color:var(--primary2-color);
    
}
.right_section{
    width: auto;
   height: 800px;
   

    line-height: 3em; 
    overflow:scroll; 
    border: thin var(--primary2-color); 
    padding: 5px;
    background-color:var(--primary2-color);
}


.main-btn{
    display: inline-block;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    padding: 2px 27px;
    background-color: transparent;
    border:2px solid var(--gray-color) ;
    color: var(--text-black);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;

}
.main-btn:hover{

    background-color: var(--bg-dark-blue);
    border-color:#FD4766 ;
    color: var(--text-white);

}

.main-btn2{
    display: inline-block;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    padding: 2px 27px;
    background-color: transparent;
    border:2px solid var(--gray-color) ;
    color: var(--primary-text);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;

}
.main-btn2:hover{

    background-color: #FD4766;
    border-color:#FD4766 ;
    color: var(--text-white);

}
/*con*/
.contact_wrapper .form-control,
.contact_wrapper textarea{
    background-color: transparent;
    border-color: var(--gray-color);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}
.contact_wrapper .form-control:hover,
.contact_wrapper textarea :hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus{
    border-color: var(--primary-color);
    color: var(--text-white);

}

.contact_wrapper .call_details{
    color: var(--text-gray);
}

.contact_wrapper .call_details a{
    font-weight: 700;
    color: var(--text-gray);
}


.contact_wrapper img{
    max-height: 80%;
    max-width: 80%;

}

.cardDiv{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.cardDiv2{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


/**/
.section1{
   
    background-color: #030929;
}
/**/

h1{
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text-black);
    margin-bottom: 20px;
}
h1 span{
    color: var(--primary-color);
    
}
h2{
    font-size: 55px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: 15px;

}
h4{
    color: var(--text-black);    
    letter-spacing: 1px;
    font-weight: 700; 

}
h5{
    color: var(--text-black);    
    letter-spacing: 1px;
    font-weight: 700; 
}

h6{

    font-weight: 500;  
    display: block;
    color: var(--text-black);
    

}
p{
    color: var(--text-black);
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}

.h5_2{
    color:var(--primary-text);
    letter-spacing: 1px;
    font-weight: 700; 
}







